<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>罗玖中、周成商品房买卖合同备案文本遗失声明作废-公示公告-衡阳房产_衡阳房地产_房地产信息网</title>
    <meta name="keywords" content="道伟,身份,身份证,证号,合同,衡阳,有限公司,实业,商品房,衡阳房地产,衡阳房产,衡阳房产网,衡阳房价,衡阳二手房,衡阳房地产门户">
    <meta name="description"
          content=",衡阳房地产信是衡阳人气最旺、最有价值的房地产网络媒体，提供最全面最及时的房地产资讯，楼盘信息、出租出售信息、预售信息、房价信息、业主论坛等，是业内外网友公认的最受欢迎的房地产网络平台">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="images/global.css">
    <script type="text/javascript" src="layui/jquery-1.9.1.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="bodymain">
    <div th:replace="index::.layui-header"></div>
    <div th:replace="index::.main-nav"></div>

    <link rel="stylesheet" type="text/css" href="bbs/images/css.css">
    <div class="layui-main">
        <div style="clear:both">
        </div>
        <div style="height:30px; display:block; clear:both"></div>
        <div class="layui-box fdc-body">
            <header>
                <h1 th:text="${bbsOne.title}"></h1>
            </header>
            <div class="layui-row layui-col-space15 "
                 style="margin:16px 36px 10px 36px; font-size:14px; color:#818181; line-height:24px">
                <div class="layui-col-md12 layui-elip news-au" th:text="${bbsOne.intime}">
                    2021年07月26日 11:21:04
                </div>
            </div>
            <article style="min-height:500px;">
                <p style="text-align: justify;" th:utext="${bbsOne.content}">
                    衡阳道伟实业有限公司与购房人罗玖中、周成（身份证号：430422197809150014）、（身份证号：421023198501153428）签订的坐落于衡阳市蒸湘区长丰大道19号道伟山水华苑GH栋1615室。合同编号：HY2017033296号商品房买卖合同备案文本遗失，声明作废。</p>
                <p style="text-align: justify;">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</p>
                <p style="text-align: justify;">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　衡阳道伟实业有限公司</p>
                <p style="text-align: justify;">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　2021年7月26日</p>
            </article>
        </div>
        <div class="line_10"></div>
    </div>
    <div class="footer">
        <div class="grid zbj-grid ui-footer-bd bordert">
            <p>Copyright (c) 2007 版权所有 衡阳市住房和城乡建设信息中心 联系电话：0734-8275632 8275629 </p>
            <p></p>
            <p><a href="http://beian.miit.gov.cn/" target="_blank">湘ICP备07007704号-1</a> All rights reserved,
                www.hyfc365.com E-mail:webmaster@hyfc365.com</p>
        </div>
    </div>
</div>
</body>
</html>