<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>行业资讯-衡阳房产_衡阳房地产_房地产信息网</title>
    <meta name="keywords" content="行业资讯,衡阳房地产,衡阳房产,衡阳房产网,衡阳房价,衡阳二手房,衡阳房地产门户">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="images/global.css">
    <script type="text/javascript" src="layui/jquery-1.9.1.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="bodymain">
    <div class="layui-header head_box">
        <div class="layui-container head_box_in">
            <div class="layui-row">
                <div class="layui-col-md3">
                    欢迎您登录衡阳房产交易服务网！
                </div>
                <div class="layui-col-md9" style="text-align:right"><span class="head_menu"><a
                        href="/">首页</a><font>|</font><a href="/bbs/">公示公告</a><font>|</font><a
                        href="/realestate/">商品房中心</a><font>|</font><a href="/news/">行业资讯</a><font>|</font><a
                        href="http://59.51.45.56:8088/jyyt/app/framework/login/index;JSESSIONID=9cadf813-76e0-4af9-9484-3261b8db76c6"
                        target="_blank">合同备案</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-main main-nav">
        <div class="logo">
            <img src="images/bg2.jpg">
        </div>
        <div class="imgslogo">
        </div>
        <div style="display:block; clear:both"></div>
        <div class="nav">
            <ul class="nav-box clear">
                <li id="top0" class="nav-item current"><a href="/" class="nav-item-primary">房产首页</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="/bbs/">公示公告</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="/realestate/">商品房中心</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="http://59.51.45.154:8000/" target="_blank"
                                        title="物业行业信用评价系统">物业行业信用评价</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="http://59.51.45.54:8000/GZFW/" target="_blank"
                                        title="物业维修基金">物业维修基金</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="/news/">行业资讯</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="/gov/" target="_blank">备案查询</a></li>
                <li class="nav-item"><a class="nav-item-primary" href="http://59.51.45.56:8088/jyyt/" target="_blank">网上服务大厅</a>
                </li>
            </ul>
        </div>
        <div style="height:10px"></div>
    </div>
    <link rel="stylesheet" type="text/css" href="bbs/images/css.css">
    <div class="layui-main">
        <div style="clear:both">
        </div>
        <div style="height:10px"></div>
    </div>
    <div class="layui-main">
        <div class="ask_main">
            <div class="line_10"></div>
            <div class="layui-row layui-col-space0">
                <div class="layui-col-md12">
                    <div class="ask_box">
                        <ul class="menu">
                            <li class="on"><a href="/news/" title="行业资讯">行业资讯</a></li>
                        </ul>
                        <div class="line_10"></div>
                        <ul class="newslist">
                            <li><span class="layui-hide-xs">2021-06-26 12:34:01</span><a href="news_show.html"
                                                                                         title="2021年6月26日国际禁毒日"
                                                                                         target="_blank">2021年6月26日国际禁毒日</a>
                            </li>
                            <li><span class="layui-hide-xs">2021-06-04 15:57:37</span><a href="news_show.html"
                                                                                         title="衡阳市人民政府办公室关于印发《衡阳市城区商品房预售资金监管办法》的通知"
                                                                                         target="_blank">衡阳市人民政府办公室关于印发《衡阳市城区商品房预售资金监管办法》的通知</a>
                            </li>
                            <li><span class="layui-hide-xs">2021-04-15 15:53:45</span><a href="news_show.html"
                                                                                         title="全民国家安全教育日宣传"
                                                                                         target="_blank">全民国家安全教育日宣传</a>
                            </li>
                            <li><span class="layui-hide-xs">2021-04-12 17:10:14</span><a href="news_show.html"
                                                                                         title="新冠病毒疫苗接种科普知识宣传"
                                                                                         target="_blank">新冠病毒疫苗接种科普知识宣传</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-04-15 16:49:39</span><a href="news_show.html"
                                                                                         title="全民国家安全教育日宣传"
                                                                                         target="_blank">全民国家安全教育日宣传</a>
                            </li>
                            <li><span class="layui-hide-xs">2021-02-05 12:06:17</span><a href="news_show.html"
                                                                                         title="新冠肺炎疫情防护知识宣传"
                                                                                         target="_blank">新冠肺炎疫情防护知识宣传</a>
                            </li>
                            <li class="line"></li>
                            <li><span class="layui-hide-xs">2021-02-04 11:06:39</span><a href="news_show.html"
                                                                                         title="衡阳市返乡人员自主申报健康系统已经开通"
                                                                                         target="_blank">衡阳市返乡人员自主申报健康系统已经开通</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-12-04 10:46:57</span><a href="news_show.html"
                                                                                         title="2020年“12.4”国家宪法日活动知识宣传"
                                                                                         target="_blank">2020年“12.4”国家宪法日活动知识宣传</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-10-06 10:52:48</span><a href="news_show.html"
                                                                                         title="衡阳市2020网上房地产交易展示会正式上线"
                                                                                         target="_blank">衡阳市2020网上房地产交易展示会正式上线</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-09-17 12:01:42</span><a href="news_show.html"
                                                                                         title="9月30日常宁房交会40家房企携“房”来袭"
                                                                                         target="_blank">9月30日常宁房交会40家房企携“房”来袭</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-09-13 09:02:13</span><a href="news_show.html"
                                                                                         title="2020年常宁第二届房交会参展楼盘大合集"
                                                                                         target="_blank">2020年常宁第二届房交会参展楼盘大合集</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-09-14 18:49:45</span><a href="news_show.html"
                                                                                         title="2020年国家网络安全宣传周启动"
                                                                                         target="_blank">2020年国家网络安全宣传周启动</a>
                            </li>
                            <li class="line"></li>
                            <li><span class="layui-hide-xs">2020-08-12 17:24:05</span><a href="news_show.html"
                                                                                         title="两部门印发实施方案 加强城镇生活污水处理设施补短板"
                                                                                         target="_blank">两部门印发实施方案
                                加强城镇生活污水处理设施补短板</a></li>
                            <li><span class="layui-hide-xs">2020-07-14 10:55:22</span><a href="news_show.html"
                                                                                         title="破除壁垒，整合资源，衡阳市政务大数据发展初见成效"
                                                                                         target="_blank">破除壁垒，整合资源，衡阳市政务大数据发展初见成效</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-07-06 16:31:28</span><a href="news_show.html"
                                                                                         title="衡阳弘阳广场爱心助考，为高考学子保驾护航"
                                                                                         target="_blank">衡阳弘阳广场爱心助考，为高考学子保驾护航</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-04-21 08:52:06</span><a href="news_show.html"
                                                                                         title="2020衡阳人才安居房交会“五一”举行"
                                                                                         target="_blank">2020衡阳人才安居房交会“五一”举行</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-04-16 09:03:37</span><a href="news_show.html"
                                                                                         title="今年老旧小区改多少、改什么、钱从哪来？李克强开会定了这些"
                                                                                         target="_blank">今年老旧小区改多少、改什么、钱从哪来？李克强开会定了这些</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-04-15 11:26:54</span><a href="news_show.html"
                                                                                         title="住房和城乡建设部发布关于提升房屋网签备案服务效能的意见"
                                                                                         target="_blank">住房和城乡建设部发布关于提升房屋网签备案服务效能的意见</a>
                            </li>
                            <li class="line"></li>
                            <li><span class="layui-hide-xs">2020-04-15 11:16:38</span><a href="news_show.html"
                                                                                         title="住房和城乡建设部印发意见 提升房屋网签备案服务效能"
                                                                                         target="_blank">住房和城乡建设部印发意见
                                提升房屋网签备案服务效能</a></li>
                            <li><span class="layui-hide-xs">2020-03-26 09:41:22</span><a href="news_show.html"
                                                                                         title="湖南通报2019年房地产市场形势 —— 房价基本稳定 市场总体平稳"
                                                                                         target="_blank">湖南通报2019年房地产市场形势
                                —— 房价基本稳定 市场总体平稳</a></li>
                            <li><span class="layui-hide-xs">2020-03-26 09:34:30</span><a href="news_show.html"
                                                                                         title="湖南明确工程建设项目审批事项可暂停审批计时的具体情形及相应暂停时限"
                                                                                         target="_blank">湖南明确工程建设项目审批事项可暂停审批计时的具体情形及相应暂停时限</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-03-20 10:39:27</span><a href="news_show.html"
                                                                                         title="国务院关于授权和委托用地审批权的决定"
                                                                                         target="_blank">国务院关于授权和委托用地审批权的决定</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-03-19 15:11:33</span><a href="news_show.html"
                                                                                         title="省住建厅发布关于切实做好新冠肺炎疫情防控期间企业开复工工作的通知"
                                                                                         target="_blank">省住建厅发布关于切实做好新冠肺炎疫情防控期间企业开复工工作的通知</a>
                            </li>
                            <li><span class="layui-hide-xs">2020-03-18 15:56:32</span><a href="news_show.html"
                                                                                         title="住建资讯：助力企业复工复产 湖南省住建厅发布“湘九条”"
                                                                                         target="_blank">住建资讯：助力企业复工复产
                                湖南省住建厅发布“湘九条”</a></li>
                        </ul>
                        <div style="height:10px; clear:both; display:block;"></div>
                        <div class="pages">
                            <div class="page"><span class="firstPage layui-hide-xs">首页</span><span
                                    class="prePage layui-hide-xs">上一页</span><span class="thisindex">1</span><a
                                    class="nowbar" href="/news/2.html">2</a><a class="nowbar"
                                                                               href="/news/3.html">3</a><a
                                    class="nowbar" href="/news/4.html">4</a><a class="nowbar"
                                                                               href="/news/5.html">5</a><a
                                    class="nowbar" href="/news/6.html">6</a><a class="nowbar"
                                                                               href="/news/7.html">7</a><a
                                    class="nowbar" href="/news/8.html">8</a><a class="nowbar"
                                                                               href="/news/9.html">9</a><a
                                    class="nowbar" href="/news/10.html">10</a><a class="nextPage layui-hide-xs"
                                                                                 href="/news/2.html">下一页</a><a
                                    class="lastPage layui-hide-xs" href="/news/32.html">尾页</a>
                            </div>
                        </div>
                        <div style="height:10px; overflow:hidden"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line_10"></div>
    </div>
    <div class="footer">
        <div class="grid zbj-grid ui-footer-bd bordert">
            <p>Copyright (c) 2007 版权所有 衡阳市住房和城乡建设信息中心 联系电话：0734-8275632 8275629 </p>
            <p></p>
            <p><a href="http://beian.miit.gov.cn/" target="_blank">湘ICP备07007704号-1</a> All rights reserved,
                www.hyfc365.com E-mail:webmaster@hyfc365.com</p>
        </div>
    </div>
</div>
</body>
</html>